*,*::before,*::after {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Noto Sans JP',sans-serif;
    line-height: 1.6;
}
.hero {
    --color-accent: #faa700;
}
.hero {
    color: white;
    background-color: #222;
    text-align: center;
    padding: 15em 0em;
    @supports(background-blend-mode:multiply){
        background: url('../img/shoe-3.png'),radial-gradient(#444,#111);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-blend-mode: multiply;
    }
}
.container {
    width: 85%;
    margin: 0px auto;
    max-width: 65em;
}
.spacing>*+* {
    margin-top: var(--spacer,2rem);
}
h1,h2,h3,p {
    margin: 0px;
}
.primary-title {
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    font-size: 4.5rem;
    line-height: 1;
    text-transform: uppercase;
}
.btn {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1.25em;
    background-color: var(--color-accent,blue);
    color: var(--color-text,white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    border-radius: .25em;
    transition: transform 250ms ease-in-out;
    opacity: 250ms linear;
}
.btn:focus,.btn:hover {
    transform: scale(1.1);
    opacity: 0.9;
}
section {
    padding: 7em 0em;
}
img {
    max-width: 100%;
    display: block;
}
.featured {
    background-color: #eee;
    &__items {
        display: block;
        position: relative;
        transform: scale(0.85);
        transition: transform 250ms ease-in-out;
        text-decoration: none;
        text-align: center;
        line-height: 1.2;
        color: #333;
        &:focus,&:hover {
            transform: scale(1);
            .featured__details {
                opacity: 1;
                text-shadow: 0em 0em 2em rgba(#fff,1);
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: -1;
            padding: 75% 75% 0% 0%;
            background-color: red;
            border-radius: 50%;
            background-color: #2193b0;
        }
    }
    &__details {
        opacity: 0;
        transition: opacity 250ms linear;
        span {
            display: block;
            font-weight: 700;
            font-size: 2.5rem;
        }
    }
}
.section-title {
    text-align: center;
    font-size: clamp(2.5rem,calc(5vw + 1rem),4rem);
    line-height: 1;
    color: #17353d;
    margin-bottom: 5rem;
}
.split {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    &>* {
        flex-basis: 30%;
        min-width: 15em;
    }
}
.product {
    background: radial-gradient(var(--color-inner,limegreen),var(--color-outer,purple));
    padding: 3em;
    border-radius: 1em;
    margin-bottom: 3em;
    text-align: center;
    &__title {
        font-size: clamp(3rem,calc(5vw + 1rem),5.5rem);
        color: #fff;
        text-transform: uppercase;
        text-shadow: 0em 0em 0.2em rgba(#000,0.2);
        line-height: 1;
    }
    &__image {
        margin: -5em 0em 0em 0em;
    }
    @media only screen and (min-width:45em){
        text-align: left;
        margin-bottom: 9em;
        &__title {
            margin: 0px;
        }
        &__image {
            float: right;
            width: 65%;
            shape-outside: url('../img/shoe-1.png');
            shape-margin: 1em;
            margin: 0em -5em 0em 0em;
        }
        &.shoe-left {
            .product__image {
                float: left;
                shape-outside: url('../img/shoe-2.png');
                shape-margin: 2em;
                margin: 0em 0em 0em -5em;
            }
        }
    }
}
.shoe-red {
    --color-inner: #faa700;
    --color-outer: #e48d00;
    --color-accent: #a1173c;
}
.shoe-white {
    --color-inner: #fce4b3;
    --color-outer: #eac886;
    --color-accent: #2f4858;
}
.shoe-blue {
    --color-inner: #6dd5ed;
    --color-outer: #2193b0;
    --color-accent: #008951;
}